[Desktop Entry]
Name=Geometric-Logo

X-KDE-PluginInfo-Name=Drauger OS
X-KDE-PluginInfo-Author=Thomas Castleman
X-KDE-PluginInfo-Email=Thomas Castleman <batcastle@draugeros.org>
X-KDE-PluginInfo-License=CC-BY-SA-4.0
